/* PCBuilder.css */
.pc-builder-transition-enter {
  opacity: 0.01;
}

.pc-builder-transition-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.pc-builder-transition-exit {
  opacity: 1;
}

.pc-builder-transition-exit-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
